body {
    background-image: url("../images/spongebobBG.png");
    /* background-color: beige; */
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
}

head {
    color: red;
    text-align: center;
}

/* div {
   background-color: red
} */

.flex-container {
    display: flex;
}

div.pageTitle {
    text-align: center;
    font-size: 35px;
    color: darkcyan;
    font-family: fantasy;
    text-decoration: underline;
}

div.Squidward {
    position: relative;
    left: 215px;
}

div.Spongebob {
    position: relative;
    top: 150px;
    left: 50px
}

div.Squad {
    position: relative;
    bottom: 50px;
    right: 15px;
}

.navigationBar {
    overflow: hidden;
    /* background-color: lightgoldenrodyellow; */
}

.navigationBar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navigationBar a:hover {
    background-color: lightsalmon;
    color: black;
}

.navigationBar a.active {
    background-color: lightskyblue;
    color: black;
}


/* btn {
    border: 5px red;
    color: purple;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 0px;
    padding: 15px 32px;
    transition-duration: 0.5;
    margin : 4px 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
} */

/* h2 {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
} */

/* h3 {
    align-items: center;
    text-align: center;
} */