body {
    background-color: beige;
}

h1 {
    font-family: Apple Chancery, cursive;
    font-size: xx-large;
    text-align: center;
    color: green;
}

btn.ube {
    color: purple;
    text-decoration: none;
}

btn.cookies {
    text-decoration: none;
    color: black; 
}

div.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px; 
}

div.png {
    float: right;
    
}