body {
    background-color: beige;
    /* opacity: 0.3; */
}

h1 {
    font-family: Apple Chancery, cursive;
    font-size: 50px;
    text-align: center;
    color: green;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

btn.ube {
    color: purple;
    text-decoration: none;
}

btn.cookies {
    text-decoration: none;
    color: black; 
}

div.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px; 
}

div.goodBurger {
    position: relative;
    float: right;
    bottom: 1100px;

}

div.puffers {
    position: relative;
    float: center;
    left: 600px;
    bottom: 500px;
}