body {
    background-color: beige;
}

head {
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
}

h4 {
    text-align: right;
}

/* img {
    text-align: right;
} */

div {
    text-align: right;
}