body {
    background-image: url("../secretImages/tiredBob.jpeg");
    background-size: 1500px;
}

.center {
    text-align: center;
    position: relative;
    top: 100px;
}

p {
    font-size: 25px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meow {
    font-size: 30px;
    position: relative;
    text-align: left;
    top: 265px;
    left: 475px;
    color: red;
}